body{
	background: #d2d2c1 url('img/fundo.png');
	font:16px Arail, Helvetica, Sans-serif;

  align-items: center;
  justify-content: center }
}

#principal {

	width: 900px;
	 height: 10em;
  }

#menu{
	background: #c5c5b2;
	padding: 15px;
	font-weight:bolder;

}
#conteudo{
	background: #e8e8d9;
	padding: 10px;
}
.centralizar{
	text-align: center;
}

.img-campanhas{
	
	 text-align: center;
}

h1{
	color: #424242;
	font-size:1.2em;
}

a{
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 8px; 
}

border: 5px solid #c3c3ae;



